body {
  background: lightyellow;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: #5B6C5D;
}

svg {
  position: fixed;
  top: 10px;
  left: 500px;
  border: 2px solid black;
}

.lose-window-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0, 0.7);
}

.lose-window {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  padding: 30px;
  border-radius: 14px;
  background: #B6EFD4;
  border: 1px solid #A0CCDA;
  margin: 0 auto;
}

.lose-window>h3 {
  text-align: center;
  color: #9F7E69;
}

.lose-window>img {
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  width: 70px;
}

.display-modal {
  display: block;
}

.score-container {
  position: fixed;
  left: 1320px; /*svg margin left + svg width + 20px*/
  top: 0;
  font-size: 150%;
  margin: 0;
}

.score-container>p {
  margin: 10px 0 0 0;
}

#score {
  color: #465775;
  font-size: 150%;
}

#game-name {
  color: #59C9A5;
  font-size: 50px;
}

#pause {
  color: #465775;
}

#instruction {
  max-width: 400px;
  line-height: 1.8;
  border: 1px solid #5B6C5D;
  padding: 15px;
  border-radius: 14px;
}

#instruction>p:first-child {
  font-style: italic;
}

#welcome {
  font-size: 150%;
  color: #465775
}

#span1 {
  color: #59C9A5;
}

#span2 {
  color: #EF6F6C;
  font-family: 'Pacifico', cursive;
}
